---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>

        <div style="overflow: hidden; width: 100%;">
            <div style="float: left;width: 80%;padding-bottom: 500em;margin-bottom: -500em;">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
            </div>
            <div style="float: left;width: 20%;margin-right: -1px;background-image: url({{ site.baseurl }}/assets/img/{{ post.headerimg }});background-repeat: no-repeat;background-size: cover; padding-bottom: 500em;margin-bottom: -500em;">
              <p></p>
            </div>
            <div style="clear: both"></div>
          </div>


      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
